<div class="contact py-5 ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="contact__img">
                    <img src="{{ section.settings.image | img_url: 'master' }}" alt="image" class="imgFluid" loading="lazy">
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="contactFormWrapper">
                    <div class="title">

                        <h2 class="text-capitalize">{{ section.settings.title }}</h2>
                        <h3 class="subHeading">{{ section.settings.sub_title }}</h3>
                    </div>
                  {%- form 'contact', id: 'ContactForm', class: 'contact-form' -%}
                    <div class="row no-gutters">
                      {%- if form.posted_successfully? -%}
                        <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
                          {% render 'icon-success' %}
                          {{ 'templates.contact.form.post_success' | t }}
                        </h2>
                      {%- elsif form.errors -%}
                        <div class="form__message">
                          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                            {% render 'icon-error' %}
                            {{ 'templates.contact.form.error_heading' | t }}
                          </h2>
                        </div>
                        <ul class="form-status-list caption-large" role="list">
                          <li>
                            <a href="#ContactForm-email" class="link">
                              {{ form.errors.translated_fields.email | capitalize }}
                              {{ form.errors.messages.email }}
                            </a>
                          </li>
                        </ul>
                      {%- endif -%}
                      
                        <div class="col-12 col-lg-6">
                          <div class="contact-form__fields">
                            <input
                              class=""
                              autocomplete="name"
                              type="text"
                              id="ContactForm-name"
                              name="contact[{{ 'templates.contact.form.name' | t }}]"
                              value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                              placeholder="First Name"
                            >
                          </div>
                        </div>
                    <div class="col-12 col-lg-6">
                      <div class="contact-form__fields">
                        <input
                          class=""
                          autocomplete="family-name"
                          type="text"
                          id="ContactForm-last-name"
                          name="contact[{{ 'templates.contact.form.last_name' | t }}]"
                          value="{% if form.last_name %}{{ form.last_name }}{% elsif customer %}{{ customer.last_name }}{% endif %}"
                          placeholder="Last Name"
                        >
                      </div>
                    </div>

                        <div class="col-12 col-lg-6 field--with-error">
                          <div class="contact-form__fields">
                          <input
                            autocomplete="email"
                            type="email"
                            id="ContactForm-email"
                            class=""
                            name="contact[email]"
                            spellcheck="false"
                            autocapitalize="off"
                            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                            aria-required="true"
                            {% if form.errors contains 'email' %}
                              aria-invalid="true"
                              aria-describedby="ContactForm-email-error"
                            {% endif %}
                            placeholder="{{ 'templates.contact.form.email' | t }}"
                          >
                          
                          {%- if form.errors contains 'email' -%}
                            <small class="contact__field-error" id="ContactForm-email-error">
                              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                              <span class="form__message">
                                {%- render 'icon-error' -%}
                                {{- form.errors.translated_fields.email | capitalize }}
                                {{ form.errors.messages.email -}}
                              </span>
                            </small>
                          {%- endif -%}
                        </div>
                        </div>
                      
                      <div class="col-12 col-lg-6">
                        <div class="contact-form__fields">
                        <input
                          type="tel"
                          id="ContactForm-phone"
                          class=""
                          autocomplete="tel"
                          name="contact[{{ 'templates.contact.form.phone' | t }}]"
                          pattern="[0-9\-]*"
                          value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                          placeholder="{{ 'templates.contact.form.phone' | t }}"
                        >
                        
                      </div>
                      </div>
                      <div class="col-12">
                        <div class="contact-form__fields">
                          <textarea
                            rows="10"
                            id="ContactForm-body"
                            class="text-area "
                            name="contact[{{ 'templates.contact.form.comment' | t }}]"
                            placeholder="{{ 'templates.contact.form.comment' | t }}"
                          >
                            {{- form.body -}}
                          </textarea>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="contact-form__fields">
                          <button type="submit" class="btn">
                            Send Message
                          </button>
                        </div>
                      </div>
                    </div>
                  {%- endform -%}
                    <form action="#" class="contact-form">
                        <div class="row no-gutters">
                            <div class="col-12 col-lg-6">
                                <div class="contact-form__fields">
                                    <input type="text" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="contact-form__fields">
                                    <input type="text" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="contact-form__fields">
                                    <input type="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="contact-form__fields">
                                    <input type="tel" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="contact-form__fields">
                                    <textarea rows="6" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="contact-form__fields">
                                    <button class="btn">Send Message</button>
                                </div>
                            </div>
                        </div>

                    </form>
                    <ul class="contact-details">
                        <li class="contact-details__single">
                            <a href="tel:{{ section.settings.phone_number }}">
                                <i class="bx bx-phone-call bx-tada"></i>
                                {{ section.settings.phone_number }}
                            </a>
                        </li>
                        <li class="contact-details__single">
                            <a href="mailto:{{ section.settings.email_address }}">
                                <i class="bx bx-envelope"></i>
                                {{ section.settings.email_address }}
                            </a>
                        </li>
                        <li class="contact-details__single">
                            <address>
                                <i class="bx bx-map"></i>
                                {{ section.settings.address }}
                            </address>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
      "name": "Cus Contact Page",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Collections",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "sub_title",
          "default": "Collections",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "phone_number",
          "default": "+012 345 789",
          "label": "Phone Number"
        },
        {
          "type": "text",
          "id": "email_address",
          "default": "demo@mail.com",
          "label": "Email Address"
        },
        {
          "type": "text",
          "id": "address",
          "default": "132 Demo Address",
          "label": "Address"
        }
    ],
    "presets": [
        {
          "name": "Cus Contact Page"
        }
      ]
    }
    {% endschema %}