<section class="products-sec {% if section.settings.my_select_field == 'option2' %} bg-sec {% endif %}">
    <div class="container">
        <div class="title">
            <h2>{{ section.settings.title }}</h2>
        </div>
        <div class="row product-slider slick-top-btns">


           {% assign selected_collection = section.settings.collection %}
        {% for product in collections[selected_collection].products %}
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-inner-item">
                        <div class="wishlist">
                            <i class="far fa-heart"></i>
                        </div>
                        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="">
                    </div>
                    <div class="product-content">
                        <h3>{{ product.title }}</h3>
                        <div class="shopify-product-reviews-badge" data-id="{{ product.id }}"></div>
                       
                        <h6>{{ product.price | money }}</h6>
                        <div class="product-btn">
                            <a class="btn" href="{{ product.url }}"><i class="far fa-plus"></i></a>
                        </div>
                      
                    </div>
                </div>
            </div>
          {% endfor %}
            

        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Cus Products Sec",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
        "type": "text",
        "id": "title",
        "default": "Collections",
        "label": "Title"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured-collection.settings.collection.label"
        },
        {
          "type": "select",
          "id": "my_select_field",
          "label": "Background",
          "options": [
            {
              "value": "option1",
              "label": "Without Background"
            },
            {
              "value": "option2",
              "label": "With Background"
            }
          ]
        }
    ],
    "presets": [
        {
          "name": "Cus Products Sec"
        }
      ]
    }
    {% endschema %}