<div class="contact py-5 ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="contact__img">
                    <img src="{{ section.settings.image | img_url: 'master' }}" alt="image" class="imgFluid" loading="lazy">
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="contactFormWrapper">
                    <div class="title">

                        <h2 class="text-capitalize">{{ section.settings.title }}</h2>
                        <h3 class="subHeading">{{ section.settings.sub_title }}</h3>
                    </div>
                    <form action="#" class="contact-form">
                        <div class="row no-gutters">
                            <div class="col-12 col-lg-6">
                                <div class="contact-form__fields">
                                    <input type="text" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="contact-form__fields">
                                    <input type="text" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="contact-form__fields">
                                    <input type="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="contact-form__fields">
                                    <input type="tel" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="contact-form__fields">
                                    <textarea rows="6" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="contact-form__fields">
                                    <button class="btn">Send Message</button>
                                </div>
                            </div>
                        </div>

                    </form>
                    <ul class="contact-details">
                        <li class="contact-details__single">
                            <a href="tel:{{ section.settings.phone_number }}">
                                <i class="bx bx-phone-call bx-tada"></i>
                                {{ section.settings.phone_number }}
                            </a>
                        </li>
                        <li class="contact-details__single">
                            <a href="mailto:{{ section.settings.email_address }}">
                                <i class="bx bx-envelope"></i>
                                {{ section.settings.email_address }}
                            </a>
                        </li>
                        <li class="contact-details__single">
                            <address>
                                <i class="bx bx-map"></i>
                                {{ section.settings.address }}
                            </address>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
      "name": "Cus Contact Page",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Collections",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "sub_title",
          "default": "Collections",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "phone_number",
          "default": "+012 345 789",
          "label": "Phone Number"
        },
        {
          "type": "text",
          "id": "email_address",
          "default": "demo@mail.com",
          "label": "Email Address"
        },
        {
          "type": "text",
          "id": "address",
          "default": "132 Demo Address",
          "label": "Address"
        }
    ],
    "presets": [
        {
          "name": "Cus Contact Page"
        }
      ]
    }
    {% endschema %}
