<section class="shop-category-sec bg-sec">
    <div class="container">
        <div class="title text-center">
            <h2>{{ section.settings.title }}</h2>
            {{ section.settings.content }}
            
        </div>
        <div class="product-tabs">
            <div class="product-tabs-btns">
                <ul class="nav nav-tabs" id="myTab" role="tablist">

                  {%- for block in section.blocks -%}
                   {% assign someVar = someVar | plus: 1 %}
                   
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="{{ someVar }}-tab" data-bs-toggle="tab" data-bs-target="#{{ someVar }}"
                          type="button" role="tab" aria-controls="{{ someVar }}" aria-selected="false">{{ block.settings.title | escape }}</button>
                    </li>
                  {%- endfor -%}
            
                </ul>
            </div>

            <div class="tab-content" id="myTabContent">

            {%- for block in section.blocks -%}
              {% assign anotherVar = anotherVar | plus: 1 %}
                <div class="tab-pane fade" id="{{ anotherVar }}" role="tabpanel" aria-labelledby="{{ anotherVar }}-tab">
                    <div class="row ">
                      {% assign selected_collection = block.settings.collection %}
                      {% for product in collections[selected_collection].products %}
                          <div class="col-md-3">
                              <div class="product-item">
                                  <div class="product-inner-item">
                                      <div class="wishlist">
                                          <i class="far fa-heart"></i>
                                      </div>
                                      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="">
                                  </div>
                                  <div class="product-content">
                                      <h3>{{ product.title }}</h3>
                                      <div class="rating">
                                          <ul>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
                                              <li><i class="fa fa-star"></i></li>
              
                                          </ul>
                                      </div>
                                      <h6>{{ product.price | money }}</h6>
                                      <div class="product-btn">
                                          <a class="btn" href="{{ product.url }}"><i class="far fa-plus"></i></a>
                                      </div>
                                    
                                  </div>
                              </div>
                          </div>
                        {% endfor %}

                    </div>
                </div>
              {% endfor %}
                
                
            </div>
        </div>
    </div>
</section>


{% schema %}
  {
    "name": "Cus Product tabs",
    "tag": "section",
    "class": "announcement-bar-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Collections",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "content",
        "default": "<p>Collections</p>",
        "label": "Collection"
      }
  ], 
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
      {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.featured-collection.settings.collection.label"
      },
      {
          "type": "text",
          "id": "title",
          "label": "Title"
      }
      ]
    }
  ],
  "presets": [
      {
        "name": "Cus Product Tabs",
        "blocks": [
        {
          "type": "column"
        }, {
          "type": "column"
        }
      ]
      }
    ]
  }
  {% endschema %}