<section class="product-dertail-descrption pt-4">
    <div class="container">
        <div class="product-tabs-btns">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="DEscription-tab" data-bs-toggle="tab"
                        data-bs-target="#DEscription" type="button" role="tab" aria-controls="home"
                        aria-selected="true">Description</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Specification-tab" data-bs-toggle="tab" data-bs-target="#Specification"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Additional
                        Information</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link " id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews"
                        type="button" role="tab" aria-controls="contact" aria-selected="false">Reviews</button>
                </li>
            </ul>
        </div>
        <div class="product-tabs-con">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="DEscription" role="tabpanel"
                    aria-labelledby="DEscription-tab">
                    <div class="product-tabs-con">
          
                    {{ product.metafields.reviews.rating.value }}
                    {{ section.settings.test_description }}

                    </div>
                </div>
                <div class="tab-pane fade" id="Specification" role="tabpanel" aria-labelledby="Specification-tab">
                    <div class="product-tabs-con">
                      {{ product.metafields.reviews.rating.value }}
                    {{ section.settings.test_additional }}
                    </div>
                </div>
                <div class="tab-pane fade " id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                    <div class="reviews-main-box">
                        
                    <div id="shopify-product-reviews" data-id="{{ product.id }}"></div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



{% schema %}
    {
      "name": "Cus Sigle Tabs",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
        "type": "text",
        "id": "test_description",
        "default": "Collections",
        "label": "Description"
        },
        {
        "type": "text",
        "id": "test_additional",
        "default": "Collections",
        "label": "Additional Description"
        }
    ],
    "presets": [
        {
          "name": "Cus Sigle Tabs"
        }
      ]
    }
    {% endschema %}