<section class="content-slider-sec py-5 my-5">
    <div class="container">
        <div class="row g-0 align-items-stretch">
            <div class="col-md-6">
                <div class="image-slider-main">
                  
                  {%- for block in section.blocks -%}
                    <div class="image-slider">
                        <img src="{{ block.settings.image }}" alt="">
                    </div>
                  {%- endfor -%}

                  
                </div>

            </div>
            <div class="col-md-6">
                <div class="content-slider-content-wraper">
                    <div>
                        <a href="{{ section.settings.button_url }}" class="view-all-btn btn-link">{{ section.settings.button_text }}</a>
                        <div class="content-slider-main slick-top-btns">

                          {%- for block in section.blocks -%}
                            <div>
                                <div class="content-slider-item-inner">
                                    <div class="slider-sec-content ">
                                        <h3>{{ block.settings.title }}</h3>
                                        {{ block.settings.content }}
                                        <a href="{{ block.settings.button_text }}" class="btn">{{ block.settings.button_url }}</a>
                                    </div>
                                </div>
                            </div>
                        {%- endfor -%}
                            


                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
</section>


{% schema %}
    {
      "name": "Cus Content Slider",
      "tag": "section",
      "class": "announcement-bar-section",
      "blocks": [
        {
          "type": "column",
          "name": "t:sections.multicolumn.blocks.column.name",
          "settings": [
            {
              "type": "image_picker",
              "id": "image_product",
              "label": "Image"
            },
            {
              "type": "text",
              "id": "title",
              "default": "Collections",
              "label": "Title"
            },
            {
              "type": "richtext",
              "id": "content",
              "default": "<p>Collections</p>",
              "label": "Content"
            },
            {
              "type": "text",
              "id": "button_text",
              "default": "Collections",
              "label": "Button Title"
            }, {
              "type": "url",
              "id": "button_url",
              "label": "Button URL"
            }
          ]
        }
      ],
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "default": "Collections",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
    ],
    "presets": [
        {
          "name": "Cus Content Slider",
          "blocks": [
          {
            "type": "column"
          }, 
          {
            "type": "column"
          },
          {
            "type": "column"
          }
        ]
        }
      ]
    }
    {% endschema %}