<header class="header">
        {% comment %}
        <div class="topbar">
            <div class="container">
                <p>SAVE 20% ON CANVAS PRINTS WITH CODE WHM23 • FREE PRINT SHIPPING 📦</p>
            </div>
        </div>  
        {% endcomment %}
        
        <div class="main-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="logo">
                            <a href="/">
                              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                              {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                              {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                              {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                              {{ settings.logo | image_url: width: 600 | image_tag:
                                class: 'header__heading-logo motion-reduce',
                                widths: widths,
                                height: logo_height,
                                width: settings.logo_width,
                                alt: logo_alt,
                                sizes: sizes,
                                preload: true
                              }}
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="header-content">
                            <div class="header-menu">

                            {%- if section.settings.menu != blank -%}
                            {%- if section.settings.menu_type_desktop == 'dropdown' -%}
                              
                                <ul>
                                  {%- for link in section.settings.menu.links -%}
                                    <li {% if link.url contains page.url %}class="active"{% endif %}>
                                      <a class="" href="{{ link.url }}">{{ link.title | escape }}</a>
                                      {% if link.links and link.links != blank %}
                                       
                                        <ul class="sub-menu">
                                          {% for sublink in link.links %}
                                            <li  {% if sublink.url contains page.url %}class="active"{% endif %}>
                                              <a href="{{ sublink.url }}">{{ sublink.title | escape }}</a>
                                              {% if sublink.links and sublink.links != blank %}
                                        
                                                <ul class="sub-menu sub-sub-menu">
                                                  {% for subsublink in sublink.links %}
                                                    <li {% if subsublink.url contains page.url %}class="active"{% endif %}>
                                                      <a href="{{ subsublink.url }}">{{ subsublink.title | escape }}</a>
                                                    </li>
                                                  {% endfor %}
                                                </ul>
                                              {% endif %}
                                            </li>
                                          {% endfor %}
                                        </ul>
                                      {% endif %}
                                    </li>
                                  {%- endfor -%}                            
                                </ul>
                              
                            {%- endif -%}
                          {%- endif -%}


                                
                                <ul>
                                    <li><a href="index.php">HOME <i class="far fa-chevron-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Lorem Ipsum</a></li>
                                            <li><a href="#">Lorem Ipsum</a></li>
                                            <li><a href="#">Lorem Ipsum</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop.php">WALL DECOR <i class="far fa-chevron-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Lorem Ipsum</a></li>
                                            <li><a href="#">Lorem Ipsum</a></li>
                                            <li><a href="#">Lorem Ipsum</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop.php">CROWN WEAR <i class="far fa-chevron-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Lorem Ipsum</a></li>
                                            <li><a href="#">Lorem Ipsum</a></li>
                                            <li><a href="#">Lorem Ipsum</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop.php">MERCH <i class="far fa-chevron-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Lorem Ipsum</a></li>
                                            <li><a href="#">Lorem Ipsum</a></li>
                                            <li><a href="#">Lorem Ipsum</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.php">ABOUT US <i class="far fa-chevron-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Lorem Ipsum</a></li>
                                            <li><a href="#">Lorem Ipsum</a></li>
                                            <li><a href="#">Lorem Ipsum</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.php">CONTACT US <i class="far fa-chevron-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Lorem Ipsum</a></li>
                                            <li><a href="#">Lorem Ipsum</a></li>
                                            <li><a href="#">Lorem Ipsum</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-btn">
                                <a href="login.php" class="btn btn-2">Login <i class="far fa-user-alt   "></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
